@import url(./reset.css);
body {
    background-image: linear-gradient(-225deg, rgb(91, 118, 236), rgb(175, 187, 240));
    /*background: linear-gradient(rgb(240, 133, 72), rgb(248, 225, 125));*/
    font: normal 15pt Arial;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
}

header {
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    background: #fff;
    border-radius: 10px;
    padding: 50px;
    max-width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.342);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

section>#msg {
    text-align: center;
    margin-bottom: 30px;
}

footer {
    color: #fff;
    text-align: center;
    font-style: italic;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}